<!DOCTYPE html>
<html lang="en">
  <head>
    <title>404 - Page Not Found</title>
    <link rel="stylesheet" href="/css/output.css" />
    <link rel="icon" href="/images/logo/favicon.ico" type="image/x-icon" />
  </head>
  <body class="flex items-center justify-center h-screen bg-black text-white">
    <div class="text-center">
      <img
        src="/images/satellites/404.png"
        alt="404 Illustration"
        class="mx-auto mb-1 w-1/2 max-w-sm"
      />
      <p class="text-lg md:text-2xl mb-10">
        Oops! We couldn’t find the page at <strong><%= url %></strong>.
      </p>
      <a
        href="/"
        class="px-6 py-2 bg-teal-300 text-black rounded-lg hover:bg-teal-400 transition"
        >Go to Homepage</a
      >
    </div>
  </body>
</html>
