<h2 class="text-2xl"><%= name %></h2>
<hr class="border-teal-300" />
<p><strong>Speed:</strong> <span><%= speed %></span></p>
<p><strong>Coordinates:</strong> <span><%= position %></span></p>
<p><strong>Launch Date:</strong> <span><%= launchDate %></span></p>
