html {
  height: 100%;
}

body {
  height: 100%;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  padding: 0;
}

.gl_viewport {
  position: relative;
  flex-grow: 1;
  width: 100%;
}

.mobile-close {
  --aug-border-y: 1px;
  --aug-border-x: 1px;
  --aug-border-bg: linear-gradient(to bottom right, teal, #00b4d8);
}

.popup-window {
  --aug-tr: 20px;
  --aug-tr-extend1: 50%;
  --aug-border-y: 1px;
  --aug-border-x: 1px;
  --aug-border-bg: linear-gradient(to bottom right, teal, #00b4d8);
}

.loading-text::after {
  content: "";
  animation: loadingDots 1s steps(4, end) infinite;
}

@keyframes loadingDots {
  0% {
    content: "";
  }
  25% {
    content: ".";
  }
  50% {
    content: "..";
  }
  75% {
    content: "...";
  }
  100% {
    content: "";
  }
}

/* ############ Reset Position (Compass) ############### */

.reset-button {
  position: fixed;
  bottom: 20px;
  right: 20px;
  border: none;
  border-radius: 50%;
  width: 60px;
  height: 60px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 100;
}

.reset-icon {
  width: 30px;
  height: 30px;
  object-fit: contain;
}

#ui {
  pointer-events: none;
}

#ui * {
  pointer-events: auto;
}

button[data-ripple="true"] {
  position: relative;
  overflow: hidden;
  transition: background 400ms;
}

span.ripple {
  position: absolute;
  border-radius: 50%;
  transform: scale(0);
  animation: ripple 600ms linear;
  background-color: rgba(255, 255, 255, 0.2);
}

@keyframes ripple {
  to {
    transform: scale(4);
    opacity: 0;
  }
}

.orientation-gizmo:hover {
  cursor: pointer;
  background-color: rgba(135, 206, 235, 0.3);
}

/* ########################### */
