html {
  height: 100%;
  overflow: hidden;
  width: 100%;
}

body {
  background-color: black;
  height: 100%;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  width: 100%;
  padding: 0;
}

.gl_viewport {
  position: relative;
  flex-grow: 1;
  width: 100%;
}

.ui-nav-buttons {
  --aug-border-y: 1px;
  --aug-border-x: 1px;
  --aug-border-bg: linear-gradient(to bottom right, teal, #00b4d8);
}

.popup-window {
  --aug-tl: 20px;
  --aug-tl-extend1: 0%;
  --aug-tl-extend2: 50%;
  --aug-border-y: 1px;
  --aug-border-x: 1px;
  --aug-border-bg: linear-gradient(to bottom right, teal, #00b4d8);
  overflow: hidden;
  position: relative;
}

.popup-content-extended,
.mobile-popup-content-extended {
  overflow-y: auto;
  max-height: 95%;
}

.loading-text::after {
  content: "";
  animation: loadingDots 1s steps(4, end) infinite;
}

@keyframes loadingDots {
  0% {
    content: "";
  }

  25% {
    content: ".";
  }

  50% {
    content: "..";
  }

  75% {
    content: "...";
  }

  100% {
    content: "";
  }
}

.ui {
  pointer-events: none;
}

.ui * {
  pointer-events: auto;
}

button[data-ripple="true"] {
  position: relative;
  overflow: hidden;
  transition: background 400ms;
}

span.ripple {
  position: absolute;
  border-radius: 50%;
  transform: scale(0);
  animation: ripple 600ms linear;
  background-color: rgba(255, 255, 255, 0.2);
}

@keyframes ripple {
  to {
    transform: scale(4);
    opacity: 0;
  }
}

.orientation-gizmo:hover {
  cursor: pointer;
  background-color: rgba(135, 206, 235, 0.3);
}

@media (max-width: 768px) {
  #resize {
    display: none;
  }
}

.noUi-handle::before,
.noUi-handle::after {
  content: none;
}

/* Outside of the slider */
.noUi-target {
  background: #3b3a3a;
  border-radius: 4px;
  height: 8px;
  position: relative;
  margin: 10px 0;
  border: 1px solid #646564;
  box-shadow: none;
}

/* Inside the slider */
.noUi-connect {
  background: #5eead4;
  border-radius: 4px;
}

/* Circular handles */
.noUi-handle {
  background-color: #5eead4;
  border: none;
  border-radius: 50%;
  width: 16px !important;
  height: 16px !important;
  cursor: pointer;
  outline: none;
  position: absolute;
  box-shadow: none;
}

.noUi-handle:hover {
  background-color: #81e6d9;
}

.noUi-connect:hover {
  background: #81e6d9;
}

.noUi-target:hover {
  border-color: #818180;
}

/* Hide scrollbar for tabs container */
#tabs-container {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

#tabs-container::-webkit-scrollbar {
  display: none;
}
